.camera-holder {
    float: left;
    position: relative;
}

.captain-holder {
    width: 600px;
    height: 225px;

    &.active {
        animation-name: pulse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes pulse {
	from {
	}
	50% {
		box-shadow: 0 0 100px green;
	}
	to {
	}
}

.table-holder {
    display: inline-block;
    height: 225px;
}

.captain-table { 
    border-collapse: separate;
    height: 100%;
    width: 200px;

    tr {
        background-color: rgba(255, 255, 255, .5);
    }

    tr:nth-child(even) {
        background-color: rgba(255, 255, 255, .6);
    }

    th {
        vertical-align: middle;
        text-align: center;
    }

    td {
        height: 43.5px;
        padding: 0 15px;
        vertical-align: middle;
        text-align: center;
        position: relative;
        padding-left: 40px;

        .role-icon {
            position: absolute;
            left: 8px;
            top: 5px;
        }
    }
}

.captain-name {
    position: absolute;
    width: 100%;
}